<input type="text" [(ngModel)]="title">
{{ title}}
<app-product></app-product>
<div *ngIf="title === 'nicolas'">
  Este es un div
</div>
<button (click)="addItem()">Agregar item</button>
<ul>
  <li *ngIf="items.length === 0">La lista esta vacia</li>
  <li *ngFor="let name of items; index as i">
    {{ name }} {{i}}
    <button (click)="deleteItem(i)">Borrar</button>
  </li>
</ul>
<div *ngFor="let product of products">
  {{ product.title}}
  <img [src]="product.image" alt="">
  {{ product.price}}

</div>